<div class="masthead clearfix">
  <div class="inner">
    <h3 class="masthead-brand">Hélio Duarte</h3>
    <nav class="nav nav-masthead">
      <%= nav_helper 'nav-link def_nav', 'span'%>
      <%= login_helper 'nav-link' %>
    </nav>
  </div>
</div>