<h1>About Me</h1>

<div class="row">
  <div calss="col=md-4">
    <%= image_tag "profileRotatedAndCutted.jpg", 
    width: 300, alt: "Profile picture"%>
  </div>
  <div calss="col=md-8">
    <p> TEXT </p>
  </div>
</div>